/* margin-bottom to give better spacing throughout the webpage */
*{
    margin-bottom: 20px;
    border: 0;
}
/* justify-content: space between worked perfectly to get the exact spacing I wanted */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px; 
    background-color: rgb(170, 227, 241);
    font-family: serif;
    background-position: center;
}

body {
    max-width: 100%;
    height:auto;
}
/* linked hero to css for more control over image */
.hero{
    background-image: url("../assets/images/mountain banner 2.jpg");
    margin-bottom: 20px;
    background-size:cover;
    height: 325px;
    
}
main{
    display: block;
    flex-wrap: wrap;
    margin-top: 4%;
}

.box {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}
section{
    border-left-style: solid;
    border-width:5px;
    border-left-color: blue;
    background-color:rgb(170, 227, 241);
}
nav {
    display: inline-block;
    padding:30px;
}

footer {
    font-size: 20px;
    text-align: center;
}
/* class=container was the biggest learning curve for me and forced me to play
around with many features in CSS */
.container a{
    display: inline-flex;
    flex-wrap: wrap;
    background-color: rgb(170, 227, 241);
    padding: 20px;
    margin: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: blue;
    transition: background-color 0.5s;

}
.container a:hover {
    background-color: bisque;
    color:green;
    font-size: 120%;
}

@media screen and (max-width: 900px) {
    article {
      padding: 1rem 3rem;
    }
}
@media screen and (max-width: 768px){
    article {
    padding: 1rem 3rem;
  }
}

@media screen and (max-width: 576px){
    article {
    padding: 1rem 3rem;
  }
}

